<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablemiento de contraseña</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <!-- Contenedor logo -->
<div class="logo-container">
  <img #logo2 src="assets/icon/icontellevo.png" alt="TeLlevoAPP Logo" class="logo2" />
  <!-- Título -->
  <h2>RESTABLECER CONTRASEÑA</h2>
     
    <ion-item>        
        <ion-input   placeholder="Correo electronico" maxlength="8"></ion-input>  
      </ion-item>

  <ion-button expand="block" type="submit" (click)="mostrarMensajeRestablecimiento()">RESTABLECER</ion-button>

  <ion-button type="submit" (click)="volverInicio()">Volver</ion-button>
  
</div>
</ion-content>

