<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <!-- Contenedor logo -->
<div class="logo-container">
  <img #logo src="assets/icon/icontellevo.png" alt="TeLlevoAPP Logo" class="logo" />
  <!-- Título -->
  <h2>RESTABLECER CONTRAEÑA</h2>
    <!-- Campo de Nombre de Usuario -->
    <ion-item>
        <ion-label position="stacked" style="font-size: 20px;">Nombre de usuario</ion-label>
        
        <ion-input   placeholder="Ingrese usuario" maxlength="8"></ion-input>  
      </ion-item>

  <ion-button expand="block" type="submit" (click)="mostrarMensajeRestablecimiento()">RESTABLECER</ion-button>

  <ion-button type="submit" (click)="volverInicio()">Volver</ion-button>
  
</div>
</ion-content>

