<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="register-container">

      <!-- Contenedor logo -->
  <div class="logo-container">
    <img #logo src="assets/icon/icontellevo.png" alt="TeLlevoAPP Logo" class="logo" />
  </div>

    <h1>REGISTRAR</h1>
    <form (ngSubmit)="registrarUsuario()">
      <label for="username">Correo Institucional <span class="required">*</span></label>
      <div class="input-group">
        <input 
          type="text" 
          [(ngModel)]="username" 
          name="username" 
          id="username" 
          placeholder="Correo Institucional" 
          class="input-field"
          pattern="^[a-zA-Z0-9._%+-]+@(profesorduoc\.cl|duocuc\.cl)$" 
          required>
      </div>
      <ion-text color="danger" *ngIf="username && !username.match('^[a-zA-Z0-9._%+-]+@(profesorduoc\\.cl|duocuc\\.cl)$')">
        El correo debe terminar en &#64;profesorduoc.cl o &#64;duocuc.cl.
      </ion-text>
      
      

      <ion-label for="password">Contraseña <span class="required">*</span></ion-label>
      <div class="input-group">
        <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="1234" maxlength="4" class="input-field" required>
        <button type="button" class="show-password-button" (click)="togglePasswordVisibility('password')">👁️</button> <!-- Botón de mostrar contraseña -->
      </div>

      <ion-label for="repeat-password">Repetir contraseña <span class="required">*</span></ion-label>
      <div class="input-group">
        <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" id="repeatPassword" placeholder="1234" maxlength="4" class="input-field" required>
        <button type="button" class="show-password-button" (click)="togglePasswordVisibility('repeatPassword')">👁️</button> <!-- Botón de mostrar contraseña -->
      </div>

      <ion-button type="submit" class="register-button">REGISTRAR</ion-button>
      <ion-button (click)="volverInicio()">Volver</ion-button>
    </form>
  </div>
</ion-content>
