<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/icon/peoples.png" alt="personas">
  </div>
  <div>
    <p>TeLlevoApp conecta a estudiantes de Duoc UC con conductores para compartir transporte. Los usuarios pueden 
      solicitar viajes, ver precios, calificar a conductores y gestionar su perfil en la aplicación.
    </p>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="chofer">
        <ion-icon name="car"></ion-icon>
        <ion-label>Menú Chofer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pasajero">
        <ion-icon name="man"></ion-icon>
        <ion-label>Menú Pasajero</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
   </ion-tabs>
   
</ion-content>
