ion-content{
    background-color: #ce1f1f;
}

p{
    text-align: center;
    border: solid;
    font-size: 30px;
    border-radius: 20px;
    border-color: #ce1f1f;
    padding: 20px;
    margin-top: 1px;
    

}

div{
    margin: 25px 0px;
    padding: 15px 15px;
    
    
}

.ion-color-primary{
    --ion-color-base: #ff443a !important;
}

img{
    margin: auto;
    display: flex;
    
}