.tablalistado {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  overflow-x: auto; /* Activa el desplazamiento horizontal si el contenido supera el ancho */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia de scroll en dispositivos móviles */
  margin: 16px 0; /* Espaciado vertical */
}

.viajes-listados {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  min-width: 800px; /* Define un ancho mínimo para que sea deslizable si hay demasiadas columnas */
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
}

.viajes-listados th, .viajes-listados td {
  border: 1px solid #ddd; /* Bordes para separar las celdas */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Centra el contenido */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

.viajes-listados th {
  background-color: #f4f4f4; /* Fondo diferente para el encabezado */
  font-weight: bold; /* Resaltar el texto del encabezado */
}

.viajes-listados tr:nth-child(even) {
  background-color: #f9f9f9; /* Fondo alternativo para filas pares */
}
  h3{
    text-align: center;
    font-size: 30px;
    
  }

  .map-container {
    width: 90%; 
    height: 400px; 
    padding: 10px; 
    border: 5px solid #000; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    margin: auto;
}
  
  #map {
    width: 100%;
    height: 100%;
  }

  ion-button{
    color: white;  
    --ion-color-primary: #ff443a;
    width: 200px; 
    height: 100px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
  }

  .esp{
    color: white;  
    --ion-color-primary: #ff443a;
    width: 100px; 
    height: 50px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
  }

  .reserva-detalles{
    text-align: center;
  }