<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<!-- Filtros de búsqueda -->
<div class="filtros-container">
  <ion-item>
    <ion-label position="stacked">Filtrar por Destino</ion-label>
    <ion-input type="text" [(ngModel)]="filtroDestino" placeholder="Ej: Santiago" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Capacidad Mínima</ion-label>
    <ion-input type="number" [(ngModel)]="filtroCapacidad" placeholder="Ej: 1 a 4" max="4" min="1"></ion-input>
  </ion-item>
</div>

<!-- Botón para aplicar filtro -->
<ion-button expand="block" (click)="aplicarFiltro()">Aplicar Filtro</ion-button>

  
  
<!-- Tabla de Viajes Filtrados -->
<div class="tablalistado">
  <table class="viajes-listados">
    <thead>
      <tr>
        <th>Destino</th>
        <th>Capacidad</th>
        <th>Costo por pasajero</th>
        <th>Hora de salida</th>
        <th>Fecha de recorrido</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viaje of viajesFiltrados">
        <td>{{viaje.destino}}</td>
        <td>{{viaje.capacidad}}</td>
        <td>${{viaje.costoPasajero}}</td>
        <td>{{viaje.horaSalida}}</td>
        <td>{{viaje.programacion}}</td>
        <td>
          <ion-button (click)="buscar(viaje.identificador)" class="esp">Ver</ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  
 <!-- Detalles del viaje seleccionado -->
 <div *ngIf="currentId" class="input-container">
  <ion-item>
    <ion-label position="stacked">Destino</ion-label>
    <ion-input type="text" [(ngModel)]="destino" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Capacidad Disponible</ion-label>
    <ion-input type="number" [(ngModel)]="capacidad" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Costo por Viajero</ion-label>
    <ion-input type="number" [(ngModel)]="costoPasajero" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Hora de Salida</ion-label>
    <ion-input type="time" [(ngModel)]="horaSalida" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha de Programación</ion-label>
    <ion-input type="date" [(ngModel)]="programacion" disabled></ion-input>
  </ion-item>

  <!-- Campo para seleccionar la cantidad de asientos -->
  <ion-item>
    <ion-label position="stacked">Cantidad de Asientos a Reservar</ion-label>
    <ion-input type="number" [(ngModel)]="asientosReservados" min="1" max="{{capacidad}}"></ion-input>
  </ion-item>

  <!-- Botón para reservar asientos -->
  <ion-button expand="block" (click)="reservarAsientos()">Reservar Asientos</ion-button>
</div>

<!-- Detalles del viaje y el mapa -->
<div *ngIf="currentId" class="input-container">
  <ion-item>
    <ion-label position="stacked">Destino</ion-label>
    <ion-input type="text" [(ngModel)]="destino" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Capacidad Disponible</ion-label>
    <ion-input type="number" [(ngModel)]="capacidad" disabled></ion-input>
  </ion-item>

  <!-- Botón para mostrar la ruta en el mapa -->
  <ion-button expand="block" (click)="mostrarRuta()">Mostrar Ruta</ion-button>
</div>



<!-- Contenedor del mapa -->
 <div class="map-container">
<div id="map" style="height: 400px;" ></div>
 </div>


 <!-- Botón para cancelar la reserva -->
<ion-button expand="block" color="danger" (click)="cancelarReserva()">Cancelar Reserva</ion-button>




 

</ion-content>
