<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img #logo2 src="assets/icon/icontellevo.png" alt="TeLlevoAPP Logo" class="logo2" />

  </div>
  
  <ion-card>
      
    <ion-title #text> <strong>Bienvenid&#64;, {{username}}
    <br>
    ¿Qué deseas hacer hoy?</strong>
    </ion-title>
    <ion-button (click)="Chofer()">Quiero llevar pasajeros</ion-button>
    <ion-button (click)="Pasajero()">Quiero tomar un viaje</ion-button> 

    <div>
      <img src="assets/icon/peoples.png" alt="personas">
    </div>


    <ion-button (click)="cerrarSesion()">CERRAR SESION</ion-button> 

    
  </ion-card>
</ion-content>
