<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img #logo2 src="assets/icon/icontellevo.png" alt="TeLlevoAPP Logo" class="logo2" />
  </div>

  <div #text class="animated">
    <h1>Bienvenid&#64;, {{username}}</h1>
    <h2>¿Qué deseas hacer hoy?</h2>
  </div>

  
  <ion-card>
      
    <ion-button (click)="Chofer()">Quiero llevar pasajeros</ion-button>
    <ion-button (click)="Pasajero()">Quiero tomar un viaje</ion-button> 

    <div>
      <img src="assets/icon/peoples.png" alt="personas">
    </div>


    <ion-button (click)="cerrarSesion()">CERRAR SESION</ion-button> 

    
  </ion-card>
</ion-content>
